
            .thumbnail{
                width:100%;
                
                
            }
          
            
            
            

            /* .channel-picture{
               
                vertical-align: top;


            } */
            .video-title{
                margin-top:0px;
                line-height:20px;
                font-size: 14px;
                font-weight: 700;
                margin-bottom:12px;

                
                
            }
            .video-info-grid{
                display: grid;
                grid-template-columns: 50px 1fr;
            }
            .video-info{
                
                width:100%;
            }
            .profile-picture{
                
                 width:100%;
                border-radius: 50px;
            }
            .thumbnail-row {
                margin-bottom: 12px;

            }
            .video-author,
            .video-stats {
                font-size:15px ;
                color:rgb(96,96,96);


            }
            .video-author{
                margin-bottom:4px ;
            }
            .video-grid1{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                column-gap: 15px;
                row-gap: 40px;
            }